.with-logo {
  background: url("/images/pedro-title.png") no-repeat;
  padding-left: 160px;
  margin-left: 25px;
  font-size: 2em;
  font-weight: bold;
}

.pedro-item {
  background-color: #eeeeee;
  line-height: .2em;
}

.pedro-item a {
  color: #000 !important;
  font-weight: normal;
  font-family: verdana;
  font-size: 0.9em;
}

.pedro-item a:hover {
  color: #ffffff;
}


.side-nav li a {
  color: #eaab00;
}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #AA3939 !important;
}

.fa {
  color: #eaab00;
}

