.with-logo {
  background: url("/images/pedro-title.png") no-repeat;
  padding-left: 160px;
  margin-left: 25px;
  font-size: 2em;
  font-weight: bold;
}

.pedro-task {
  list-style: none;
  padding-left: 30px;
}

.pedro-task a {
  display: block;
}

.pedro-task a:hover {
  text-decoration: none;
}

.pedro-task .dashboard {
}

.pedro-task-topic a,
.pedro-task-topic a i{
  color: #999 !important;
}

.pedro-topic-nav a,
.pedro-topic-nav a i {
  color: #777777;
}

.pedro-item a {
  font-weight: normal;
  font-family: verdana;
}

.pedro-item a:hover {
  color: #ffffff;
}


.side-nav li a {
  color: #eaab00;
}

.side-nav li a:hover,
.side-nav li a:focus {
}

.fa {
  color: #eaab00;

}

.side-nav .badge {
  background-color: #eaab00;

}

.side-nav .badge-outline {
  margin-left: 10px;
  color: #999;
  border: 1px solid #999;
  background-color: transparent;
}

.container-fluid {
  padding-left: 5px;

}
